[Desktop Entry]
Type=Application
Name=OpenScreen
Comment=Screen recorder with effects and editing tools
Comment[zh_CN]=屏幕录制工具，附带特效及剪辑工具
Icon=openscreen
Exec=/usr/bin/openscreen %u
Terminal=false
Categories=AudioVideo;Video;Utility;
