[Desktop Entry]
Type=Application
StartupNotify=true
Name=OneDriveGUI
Comment=Unofficial graphical interface for OneDrive
Comment[zh_CN]=非官方 OneDrive 图形管理界面
Exec=onedrivegui
Icon=onedrivegui
Categories=Network;
