[Unit]
Description=Starting rule-based tunnel for VMess, Shadowsocks, Trojan, Snell protocols for %i
After=network.target

[Service]
Type=exec
User=%i
Restart=on-abort
ExecStart=/usr/bin/clash-oss

[Install]
WantedBy=multi-user.target
