[Unit]
Description=PS3 (PlayStation 3) Network Server
Documentation=https://github.com/xakep666/ps3netsrv-go
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=ps3netsrv-go
Group=ps3netsrv-go
ExecStart=/usr/bin/ps3netsrv-go server --config=/etc/ps3netsrv-go.conf
Restart=on-failure
RestartSec=5s
MemoryMax=128M

[Install]
WantedBy=multi-user.target
