[Desktop Entry]
Name=XMMS
Comment=Play Ogg Vorbis and other audio files
Comment[af]=Speel Ogg Vorbis en ander klanklêers
Comment[am]=Ogg Vorbisን እና ሌሎች የድምጽ ፋይሎችን አጫውት
Comment[ar]=تشغيل Ogg فوربس و ملفات أخري
Comment[as]=Ogg Vorbis আৰু অন্যান্য শ্ৰৱণ নথি-পত্ৰ বজাওক
Comment[be]=Прайграе Ogg Vorbis і іншыя аўдыё файлы
Comment[bg]=Просвирване на Ogg Vorbis и други музикални файлове
Comment[bn]=Ogg Vorvis এবং অন্যান্য অডিও ফাইলগুলো চালাও
Comment[bn_IN]=Ogg Vorvis এবং অন্যান্য অডিও ফাইল বাজান
Comment[ca]=Reproduïu fitxers Ogg Vorbis i d'altres formats de so
Comment[cs]=Přehrát zvukové soubory Ogg Vorbis a další
Comment[cy]=Gwrando ar Ogg Vorbis a ffeiliau sain eraill
Comment[da]=Afspil Ogg Vorbis og andre lydfiler
Comment[de]=Ogg Vorbis und andere Audio-Dateien wiedergeben
Comment[el]=Αναπαραγωγή Ogg Vorbis και άλλων αρχείων ήχου
Comment[en_GB]=Play Ogg Vorbis and other audio files
Comment[es]=Reproducir Ogg Vorbis y otros ficheros de audio
Comment[et]=Erinevate helifailide esitamine
Comment[fa]=پخش اُگ‌وُربیس و پرونده‌های صوتی دیگر
Comment[fi]=Soita mm. Ogg Vorbis -äänitiedostoja
Comment[fr]=Lire les Ogg Vorbis et autres fichiers audio
Comment[gl]=Reproduza Ogg Vorbis e outros ficheiros de audio
Comment[gu]=ઓગ વોરબીસ અને બીજી ઓડિયો ફાઈલો વગાડો
Comment[he]=נגן קבצי Ogg Vorbis וקבצי קול נוספים
Comment[hi]=Ogg Vorbis और अन्य श्रव्य फाइल चलाएँ
Comment[hr]=Pokretanje Ogg Vorbis i ostalih datoteka zvuka
Comment[hu]=Ogg Vorbis és más hangfájlok lejátszása
Comment[hy]=Նվագել Ogg Vorbis և այլ տիպի ձայնային ֆայլեր
Comment[id]=Mainkan Ogg Vorbis dan berkas audio lainnya
Comment[ilo]=Patugtogen ti Ogg Vorbis ken sabsabali pay nga intar ti paguni
Comment[is]=Spila Ogg Vorbis og fleiri tónlistaskrár
Comment[it]=Riproduce Ogg Vorbis e altri file audio
Comment[ja]=Ogg Vorbis及び他のオーディオファイルを再生
Comment[ka]=Ogg Vorbis და სხვა აუდიოფაილების დაკვრა
Comment[kn]=Ogg Vorbis ಇತ್ಯಾದಿ ಧ್ವನಿಕಡತಗಳನ್ನು ಚಾಲಿಸಿ
Comment[ko]=Ogg Vorbis와 그외 오디오 파일 재생
Comment[lt]=Groja Ogg Vorbis ir kitas audio bylas
Comment[lv]=Spēlēt Ogg Vorbis un citas audio datnes
Comment[mk]=Пушта Ogg Vorbis и други аудио датотеки
Comment[ml]=Ogg Vorbisും മറ്റ് ഓഡിയോ ഫൈലുകളും പ്രവര്‍ത്തിപ്പിക്കുക
Comment[mr]=Ogg Vorbis आणि इतर ध्वनी फाइल्स वाजवा
Comment[ms]=Main fail audio Ogg Vorbis dan lain-lain
Comment[nb]=Spill av Ogg Vorbis og andre lydfiler
Comment[nl]=Ogg Vorbis en andere audiobestanden afspelen
Comment[no]=Spill av Ogg Vorbis og andre lydfiler
Comment[nso]=Bapala Ogg Vorbis le difaele tše dingwe tšeo di nago le modumo
Comment[or]=ଓଗ୍ ଭରବିଶ କିମ୍ବା ଅନ୍ଯାନ୍ଯ ଅଡିଓ ପାଇଲ ମାନଙ୍କୁ ଚଲାନ୍ତୁ
Comment[pa]=Ogg Vorbis ਅਤੇ ਹੋਰ ਸੰਗੀਤ ਫਾਇਲਾਂ ਚਲਾਓ
Comment[pl]=Odtwarzanie Ogg Vorbis i innych plików dźwiękowych
Comment[pt]=Toque ficheiros Ogg Vorbis e outros formatos de áudio
Comment[pt_BR]=Toque Ogg Vorbis e outros arquivos de áudio
Comment[ro]=Redă fişiere audio precum Ogg Vorbis
Comment[ru]=Воспроизводит файлы Ogg Vorbis и другие звуковые файлы
Comment[si]=Ogg Vorbis සහ අනෙකුත් ශව්‍ය ගොනු වාදනය කරන්න
Comment[sk]=Hrať Ogg Vorbis a ostatné zvukové súbory
Comment[sl]=Predvaja Ogg Vorbis in druge zvočne datoteke
Comment[sr]=Пуштање Ogg Vorbis и осталих аудио датотека
Comment[sr@latin]=Puštanje Ogg Vorbis i ostalih audio datoteka
Comment[sv]=Spela Ogg Vorbis-filer och andra ljudfiler
Comment[ta]=Ogg Vorbis மற்றும் மற்ற கேட்பொலி கோப்புகளை இயக்கவும்
Comment[te]=Ogg Vorbis మరియూ ఇతర శ్రవణ ఫైళ్లని వాడు
Comment[th]=เล่นแฟ้ม Ogg Vorbis และแฟ้มเสียงอื่นๆ
Comment[tr]=Ogg Vorbis ve diğer işitsel dosyaları çalar
Comment[uk]=Відтворення файлів Ogg Vorbis та інших звукових файлів
Comment[ur]=اور دو سری آ ڈ یو فا ٔیلز چلا یں Ogg Vorbis 
Comment[vi]=Chơi tập tin nhạc Ogg Vorbis và các tập tin khác
Comment[zh_CN]=播放 Ogg Vorbis 及其它音频文件
Comment[zh_TW]=播放 Ogg Vorbis 以及其他音效檔案
Comment[zu]=Dlala i- Ogg Vorbis kanye namafayela okuzwa
Exec=xmms -e -p %F
Icon=xmms
MimeType=audio/x-mp3;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-wav;audio/x-mpegurl;audio/mpegurl;audio/x-scpls;application/x-ogg;application/ogg;
GenericName=Audio Player
GenericName[af]=Klankspeler
GenericName[am]=የድምጽ ማጫወቻ
GenericName[ar]=مُشغِّل الصّوتيّات
GenericName[as]=শ্ৰৱণ ক্ৰীড়ক
GenericName[be]=Аўдыё прайгравач
GenericName[bg]=Музикален плейър
GenericName[bn]=অডিও প্লেয়ার
GenericName[bn_IN]=অডিও প্লেয়ার
GenericName[ca]=Reproductor de so
GenericName[cs]=Přehrávač zvuku
GenericName[cy]=Chwaraewr Sain
GenericName[da]=Lydafspiller
GenericName[de]=Audio-Player
GenericName[el]=Αναπαραγωγέας Audio
GenericName[en_GB]=Audio Player
GenericName[es]=Reproductor de audio
GenericName[et]=Audio mängijad
GenericName[fa]=پخش‌کنندهٔ صدا
GenericName[fi]=Äänisoitin
GenericName[fr]=Lecteur audio 
GenericName[gl]=Reproductor de audio
GenericName[gu]=ઓડિયો વગાડનાર
GenericName[he]=נגן צלילים
GenericName[hi]=श्रव्य चालक
GenericName[hr]=Svirač zvuka
GenericName[hu]=Hanglejátszó
GenericName[hy]=Ձայնարկիչ
GenericName[id]=Audio Player
GenericName[ilo]=Pagpatokar iti Uni
GenericName[is]=Hljóðspilari
GenericName[it]=Lettore audio
GenericName[ja]=オーディオプレーヤー
GenericName[ka]=აუდიოდამკვრელი
GenericName[kn]=ಧ್ವನಿ ನಿರೂಪಕ
GenericName[ko]=오디오 재생기
GenericName[lt]=Audio Grotuvas
GenericName[lv]=Audio atskaņotājs
GenericName[mk]=Аудио пуштач
GenericName[ml]=ഓഡിയോ പ്ലെയര്‍
GenericName[mr]=ध्वनीवादक
GenericName[ms]=Pemain Audio
GenericName[nb]=Lydavspiller
GenericName[nl]=Geluidsspeler
GenericName[no]=Lydavspiller
GenericName[nso]=Sebapadi se nago le Modumo
GenericName[or]=ଅଡିଓ ଚାଳକ
GenericName[pa]=ਆਡੀਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz dźwięku
GenericName[pt]=Reprodutor Áudio
GenericName[pt_BR]=Reprodutor de Áudio
GenericName[ro]=Player audio
GenericName[ru]=Звуковой проигрыватель
GenericName[si]=ශ්‍රව්‍ය වාදකය
GenericName[sk]=Prehrávač zvuku
GenericName[sl]=Predvajalnik zvoka
GenericName[sr]=Аудио програм
GenericName[sr@latin]=Audio program
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[te]=Audio Player
GenericName[th]=ตัวเล่นแฟ้มเสียง
GenericName[tr]=Sesçalar
GenericName[uk]=Програвач звуку
GenericName[ur]=Player آ ڈ یو 
GenericName[vi]=Bộ chơi nhạc
GenericName[zh_CN]=音频播放器
GenericName[zh_TW]=音效播放器
GenericName[zu]=Umdlali Ozwakalayo
Terminal=false
Type=Application
MapNotify=false
Categories=AudioVideo;
