[Desktop Entry]
Name=SiYuan
Name[zh_CN]=思源笔记
Exec=/usr/bin/siyuan %U
Terminal=false
Type=Application
Icon=siyuan
StartupWMClass=SiYuan
Comment=Refactor your thinking
Categories=TextEditor;Office;
