# AOSC OS MariaDB default configuration
# Adjust as what you needed, do not simply copy and paste

# Client only configuration
[client]
port = 3306
socket = /run/mysqld/mysqld.sock

# Server only configuration
[mysqld]
port = 3306
basedir = /usr
socket = /run/mysqld/mysqld.sock

# You can fire up multiple MariaDB instances, using different datadir.
# Assuming such usage cases, we do not take the entire db/mysql here.
# Please make sure you use correct config file when firing up additional instances.
datadir = /var/db/mysql

character-set-server=utf8mb4

default_time_zone = +00:00

[mysqldump]
quick
max_allowed_packet = 50M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 8192

!includedir /etc/mysql/conf.d
