# AOSC OS MariaDB default configuration
# Adjust as what you needed, do not simply copy and paste

# Client configuration
[client]
port = 3306
socket = /run/mysqld/mysqld.sock

# Server configuration
[mysqld]
port = 3306
basedir = /usr
socket = /run/mysqld/mysqld.sock

# You can fire up multiple MariaDB instances, using different datadir.
# Please make sure you use correct config file when firing up additional instances.
datadir = /var/db/mysql

# Set default charset to utf8mb4 to avoid errors on strange usage cases, e.g.
# identifiers or contents containing emoji.
character-set-server = utf8mb4

[mysql]

[mysqlhotcopy]

[mysqld_safe]

!includedir /etc/mysql/conf.d
