[Desktop Entry]
Type=Application
Version=1.0
Name=Teeworlds
Comment=DDraceNetwork, a mod of Teeworlds
Exec=teeworlds-ddnet
Icon=/usr/share/teeworlds/data/gui_logo.png
Terminal=false
Categories=Game;RolePlaying;
