[Unit]
Description=OpenList Service
After=network.target

[Service]
Type=simple
User=openlist
Group=openlist
WorkingDirectory=/var/lib/openlist
ExecStart=/usr/bin/OpenList server --data /var/lib/openlist/data
Restart=on-failure

[Install]
WantedBy=multi-user.target
