[Desktop Entry]
Name=Code - OSS
Comment=Code editing. Redefined.
GenericName=Text Editor
Exec=/usr/share/code/code-oss --unity-launch %F
Icon=vscode
Type=Application
StartupNotify=true
StartupWMClass=Code-OSS
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=code-oss;vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/share/code/code-oss --new-window %F
Icon=vscode
