[Unit]
Description=Mount /usr/share/fontconfig for the LATX runtime

[Mount]
What=/usr/share/fontconfig
Where=/usr/gnemul/lat-x86_64/usr/share/fontconfig
Type=none
Options=bind,ro
LazyUnmount=true

[Install]
WantedBy=local-fs.target
