[Unit]
Description=Loading IP Sets
DefaultDependencies=no
Wants=network-pre.target systemd-modules-load.service local-fs.target
Before=network-pre.target iptables.service ip6tables.service shutdown.target
After=systemd-modules-load.service local-fs.target
Conflicts=shutdown.target
ConditionPathExists=/etc/ipset.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ipset -f /etc/ipset.conf restore
ExecReload=/usr/bin/ipset -f /etc/ipset.conf restore
ExecStop=/usr/bin/ipset destroy

[Install]
WantedBy=multi-user.target
