[Unit]
Description=killswitch manager
Documentation=man:urfkill(7) man:urfkilld(8)

[Service]
ExecStart=/usr/libexec/urfkilld
Restart=on-failure

[Install]
WantedBy=multi-user.target
