[LightUI]
# 主窗口X位置
MainWindowOffsetX=854
# 主窗口Y位置
MainWindowOffsetY=518
# 字体
Font=Unifont Sample
# 字体区域
#FontLocale=zh_CN.UTF-8
# 使用系统托盘
# 可选值：
# True False
#UseTray=True
# 主窗口隐藏模式
# 可选值：
# Show
# Auto
# Hide
#MainWindowHideMode=Auto
# 竖排候选词列表
# 可选值：
# True False
#VerticalList=False
# Font Size
#FontSize=12
# 背景颜色
#BackgroundColor=255 255 255
# 边框颜色
BorderColor=197 199 191
# 提示信息颜色
TipColor=1 88 196
# 输入信息颜色
#InputColor=255 0 132
# 候选词索引颜色
IndexColor=0 66 199
# 第一候选词颜色
FirstCandColor=0 99 199
# 用户词组颜色
UserPhraseColor=0 99 199
# 码表提示颜色
#CodeColor=255 0 132
# 其他颜色
OtherColor=55 134 230
# 活动菜单项颜色
ActiveMenuColor=0 99 199
# 非活动菜单项颜色
InactiveMenuColor=0 99 199
# 活动菜单项颜色
ActiveColor=197 199 191
# 分隔线颜色
LineColor=197 199 191
# 光标颜色
CursorColor=39 39 239

