[Desktop Entry]
Type=Application
Name=Logisim-evolution
Comment=Digital logic design tool and simulator
Exec=/usr/bin/logisim-evolution
Icon=logisim-evolution
Terminal=false
StartupNotify=false
Categories=Science;Electronics;Simulation;
Keywords=logic;logisim;
