[Desktop Entry]
Name=IBus daemon startup
Comment=Initialize and daemonize the IBus input framework
Exec=ibus-daemon -d -x
Terminal=false
Type=Application
Categories=
GenericName=
NoShowIn=GNOME;
