# If you want ipython3 to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ipython3.desktop

[Desktop Entry]
Comment=Enhanced interactive Python3 shell
Exec=ipython3
GenericName[en_US]=IPython3
GenericName=IPython3
Icon=ipython
Name[en_US]=ipython3
Name=ipython3
Categories=Development;Utility;
StartupNotify=false
Terminal=true
Type=Application
