[Unit]
Description=QEMU Guest Agent
BindsTo=dev-virtio\x2dports-org.qemu.guest_agent.0.device
After=dev-virtio\x2dports-org.qemu.guest_agent.0.device

[Service]
Type=simple
ExecStart=-/usr/bin/qemu-ga
StandardError=journal
Restart=always
RestartSec=0
