[Unit]
Description=WINGs display manager
Documentation=man:wdm(1x)
Conflicts=getty@tty7.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service

[Service]
ExecStart=/usr/bin/wdm -nodaemon

[Install]
Alias=display-manager.service
