[Desktop Entry]
Name=Nylas N1
Comment=A new mail client, built on the modern web and designed to be extended
GenericName=Nylas N1
Exec=/usr/share/nylas/nylas %U
Icon=nylas
Type=Application
StartupNotify=true
StartupWMClass=Nylas N1
Categories=GNOME;GTK;Network;Email;Utility;Development;
MimeType=text/plain;x-scheme-handler/mailto;x-scheme-handler/nylas;
Keywords=nylas;n1;mail;compose;
