# Adapted from Arch Linux
# Ref: https://github.com/archlinux/svntogit-packages/blob/29f368bdeabc4dd6ae05a8f90ddfcab044c8c5b7/trunk/git-daemon@.service
[Unit]
Description=Git Daemon Instance

[Service]
User=git
# The '-' is to ignore non-zero exit statuses
ExecStart=-/usr/lib/git-core/git-daemon --inetd --export-all --base-path=/srv/git
StandardInput=socket
StandardOutput=inherit
StandardError=journal
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on
