# EditorConfig is awesome: https://EditorConfig.org

###############################
# Core EditorConfig Options   #
###############################

# top-most EditorConfig file
root = true

# All files
[!*.{diff,patch}]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Markdown files
[*.md]
trim_trailing_whitespace = false
