README.md merge=ours

# GitHub Linguist overrides
*.stage2 linguist-language=Shell
spec linguist-language=Shell
defines linguist-language=Shell
prepare linguist-language=Shell
patch linguist-language=Shell
build linguist-language=Shell
beyond linguist-language=Shell
/groups/* linguist-language=Text
**/patches/** linguist-language=Diff
