# Append this to your .git/config: cat .gitconfig >> .git/config
[pull]
	rebase = preserve # Make the tree neat; http://git.io/vZjjK 
	# If it fails, please manually abort and use git pull --rebase=false.
[fetch]
#	prune = true # Uncomment if you want to follow upstream branch deletes
[branch]
	autosetuprebase = always # For pull.rebase
	autosetupmerge = always # Doesn't hurt.
