# Append this to your .git/config: cat .gitconfig >> .git/config
[pull]
	rebase = preserve # We really want to make the tree straight
[fetch]
#	prune = true # Uncomment if you want to follow upstream branch deletes
[branch]
	autosetuprebase = always # For pull.rebase
	autosetupmerge = always # Doesn't hurt.
