shell=bash

# Can't follow non-constant source. Use a directive to specify location
disable=SC1090
# Not following: (error message here)
disable=SC1091

# See if you can use ${variable//search/replace} instead.
disable=SC2001
# foo appears unused. Verify it or export it.
disable=SC2034
# Use a ( subshell ) to avoid having to cd back.
disable=SC2103
# Use "${var:?}" to ensure this never expands to /* .
#   harmless, we have container
disable=SC2115
# Consider using { cmd1; cmd2; } >> file instead of individual redirects.
disable=SC2129
# Declare and assign separately to avoid masking return values.
disable=SC2155
# Use 'cd ... || exit' or 'cd ... || return' in case cd fails.
disable=SC2164
# Use var=$(command) to assign output (or quote to assign string).
#   PKGSEC=admin
disable=SC2209
