[Desktop Entry]
Type=Application
Name=HMCL
Comment=Hello Minecraft! Launcher
Exec=/usr/bin/hmcl
Icon=hmcl
Terminal=false
StartupNotify=false
Categories=Game;
Keywords=mc;minecraft;
