[Desktop Entry]
Categories=Utility;
Comment=A full-featured download manager
Comment[ar]=مدير تنزيل كامل الميزات
Comment[bg]=Пълнофункционален мениджър за изтегляне
Comment[ca]=Un gestor de descàrregues complet
Comment[de]=Ein vollwertiger Download-Manager
Comment[el]=Ένας πλήρης διαχειριστής λήψεων
Comment[es]=Un gestor de descargas completo
Comment[fa]=یک مدیر دانلود کامل
Comment[fr]=Un gestionnaire de téléchargement complet
Comment[hi]=एक पूर्ण डाउनलोड मैनेजर
Comment[hu]=Teljes értékű letöltéskezelő
Comment[id]=Manajer unduhan berfitur lengkap
Comment[it]=Un gestore download completo
Comment[ja]=フル機能のダウンロードマネージャー
Comment[ko]=모든 기능을 갖춘 다운로드 관리자
Comment[nb]=En fullfunksjons nedlastingsbehandler
Comment[nl]=Een volwaardige downloadmanager
Comment[pl]=Pełnofunkcyjny menedżer pobierania
Comment[pt]=Um gerenciador de downloads completo
Comment[pt_BR]=Um gerenciador de downloads completo
Comment[ro]=Un manager de descărcări complet
Comment[ru]=Полнофункциональный менеджер загрузок
Comment[th]=ตัวจัดการดาวน์โหลดเต็มรูปแบบ
Comment[tr]=Tam özellikli indirme yöneticisi
Comment[uk]=Повнофункціональний менеджер завантажень
Comment[vi]=Trình quản lý tải xuống đầy đủ tính năng
Comment[zh]=全功能下载管理器
Comment[zh_CN]=全功能下载管理器
Comment[zh_HK]=全功能下載管理器
Comment[zh_TW]=全功能下載管理器
Exec=rayburst %U
StartupWMClass=rayburst
Icon=rayburst
Name=Rayburst
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/ed2k;x-scheme-handler/thunder;x-scheme-handler/rayburst
X-GNOME-UsesNotifications=true
