[Desktop Entry]
Name=Element
Comment=A Matrix client for desktop
Exec=/usr/bin/element-desktop %u
Terminal=false
Type=Application
Icon=element
StartupWMClass=Element
Categories=Network;InstantMessaging;Chat
MimeType=x-scheme-handler/element;x-scheme-handler/io.element.desktop;
