[Desktop Entry]
Version=1.6.2
Type=Application
Icon=mari0
Exec=mari0
Terminal=false
StartupNotify=false
Name=Mari0
Comment=A Mario game clone with Portal gun mechanics
Categories=Game;ArcadeGame;

