Description=Apache HTTP server
After=syslog.target

[Service]
ExecStart=/usr/sbin/apachectl start
ExecStop=/usr/sbin/apachectl stop
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
