[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ZXTune
Comment=Crossplatform chiptunes player
Exec=zxtune-qt -- %f
Icon=zxtune
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;Player;
