[Unit]
Description=The Trinity login manager
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service

[Service]
ExecStart=/usr/bin/tdm
Restart=always
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
