! xterm
xterm*termName: xterm-256color
XTerm*locale: true
XTerm*loginShell: true
xterm*toolbar: true
xterm*VT100.geometry: 80x24
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
xterm*scrollKey: true
xterm*scrollTtyOutput: false
xterm*faceName: Unifont
xterm*faceSize: 12
xterm*forcePackedFont: true
xterm*renderFont: true
xterm*rightScrollBar: true
xterm*ScrollBar: true
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*utf8Title: true
xterm*autoWrap: true
xterm*foreground: rgb:c0/c0/c0
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:c0/00/00
xterm*color2: rgb:00/c0/00
xterm*color3: rgb:c0/40/00
xterm*color4: rgb:00/00/c0
xterm*color5: rgb:c0/00/c0
xterm*color6: rgb:00/c0/c0
xterm*color7: rgb:c0/c0/c0
xterm*color8: rgb:40/40/40
xterm*color9: rgb:ff/40/40
xterm*color10: rgb:40/ff/40
xterm*color11: rgb:ff/ff/40
xterm*color12: rgb:40/40/ff
xterm*color13: rgb:ff/40/ff
xterm*color14: rgb:40/ff/ff
xterm*color15: rgb:ff/ff/ff
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:ff/ff/ff

! urxvt
urxvt*termName: xterm-256color
urxvt*font: xft:Unifont:size=12
urxvt*foreground: rgb:c0/c0/c0
urxvt*background: rgb:00/00/00
urxvt*color0: rgb:00/00/00
urxvt*color1: rgb:c0/00/00
urxvt*color2: rgb:00/c0/00
urxvt*color3: rgb:c0/80/00
urxvt*color4: rgb:00/00/c0
urxvt*color5: rgb:c0/00/c0
urxvt*color6: rgb:00/c0/c0
urxvt*color7: rgb:c0/c0/c0
urxvt*color8: rgb:40/40/40
urxvt*color9: rgb:ff/40/40
urxvt*color10: rgb:40/ff/40
urxvt*color11: rgb:ff/ff/40
urxvt*color12: rgb:40/40/ff
urxvt*color13: rgb:ff/40/ff
urxvt*color14: rgb:40/ff/ff
urxvt*color15: rgb:ff/ff/ff
urxvt*scrollstyle: plain
urxvt*scrollBar: true
urxvt*scrollBar_right: true
urxvt*scrollTtyKeypress: true
urxvt*scrollTtyOutput: false
urxvt*scrollWithBuffer: true
! https://stackoverflow.com/questions/39884093/rebinding-copy-paste-in-urxvt
urxvt*iso14755: false
urxvt*iso14755_52: false
urxvt*keysym.C-S-0x43: eval:selection_to_clipboard
urxvt*keysym.C-S-0x56: eval:paste_clipboard
urxvt*keysym.Shift-Up: command:\033]720;1\007
urxvt*keysym.Shift-Down: command:\033]721;1\007
