[Unit]
Description=Create shared memory for looking glass

[Service]
Type=oneshot
ExecStart=/usr/bin/looking-glass-init %i

[Install]
WantedBy=multi-user.target
