[Unit]
Description=Iodine Client
After=local-fs.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/iodine-client
ExecStart=/usr/sbin/iodine $OPTIONS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
