[Desktop Entry]
Name=CloudCompareView
Comment=Viewer for Cloud Compare 3D point clouds
Icon=cc_viewer_icon
Exec=ccViewer
Terminal=false
Type=Application
Categories=Graphics;
