[Desktop Entry]
Type=Application
Name=FeelUOwn
Comment=A universal player with various Chinese music streaming services support
Exec=feeluown
Icon=feeluown
Categories=AudioVideo;Audio;Player;Qt;
Terminal=false
StartupNotify=true
