[Desktop Entry]
Name=Winetricks
Comment=Script to install various redistributable runtime libraries in Wine
Exec=winetricks
Icon=winetricks
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
