[Unit]
Description=log rotation daemon

[Service]
Type=oneshot
ExecStart=/usr/bin/logrotate -s /var/lib/logrotate/logrotate.status /etc/logrotate.conf
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
