[Desktop Entry]
Type=Application
Name=The Dark Mod
Exec="/opt/darkmod/thedarkmod.x64"
Icon=tdm
Comment=Stealth Gaming in a Gothic Steampunk World
Comment[zh_CN]=蒸汽朋克和哥特风格的潜行游戏
Categories=Game;StrategyGame;
Terminal=false
