[Unit]
Description=vsftpd FTP daemon
After=network.target

[Service]
ExecStart=/usr/bin/vsftpd
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
