[Desktop Entry]
Name=TigerVNC Viewer
Name[fr]=Visionneur TigerVNC
Name[zh_CN]=VNC 查看器
Comment=Connect to VNC server and display remote desktop
Comment[fr]=Se connecter à un serveur VNC et afficher le bureau distant
Comment[zh_CN]=连接到 VNC 服务器并显示远程桌面
Exec=/usr/bin/vncviewer
Icon=tigervnc
Terminal=false
Type=Application
StartupWMClass=TigerVNC Viewer: Connection Details
Categories=Network;RemoteAccess;

