[Desktop Entry]
Version=1.0
Name=Claws Mail
GenericName=E-mail client
GenericName[bg]=Пощенски клиент
GenericName[de]=Email-Programm
GenericName[eo]=Retpoŝtilo
GenericName[es]=Cliente de correo electrónico
GenericName[fi]=Sähköpostisovellus
GenericName[fr]=Client de messagerie électronique
GenericName[he]=לקוח דוא״ל
GenericName[lt]=Elektroninio pašto programa
GenericName[nl]=E-mail client
GenericName[pt_BR]=Cliente de e-mail
GenericName[sk]=Počtový klient
GenericName[sv]=E-postklient
Exec=claws-mail %u
Icon=claws-mail
Categories=Network;Email;
Comment=Lightweight and Fast GTK+ based Mail Client
Comment[bg]=Лек и бърз пощенски клиент
Comment[de]=Schlankes und sehr schnelles GTK+-basiertes Email-Programm
Comment[eo]=Malpeza kaj rapida GTK+-bazita retpoŝtilo
Comment[es]=Cliente de correo rápido y ligero con GTK+
Comment[fi]=Kevyt ja nopea GTK+-sähköpostisovellus
Comment[fr]=Client de messagerie léger et rapide
Comment[he]=לקוח דואר מהיר וקל משקל מבוסס +GTK
Comment[lt]=Greita elektroninio pašto programa, sukurta GTK+ pagrindu
Comment[nl]=Lichtgewicht en snelle GTK+ gebaseerde Mail Client
Comment[pt_BR]=Cliente de e-mail leve e rápido, baseado em GTK+
Comment[sk]=Odľahčený a rýchly poštový klient, postavený na GTK+
Comment[sv]=Lättviktig och snabb GTK+-baserad E-postklient
Keywords=lightweight;fast;gui;extensible;plugin;pop;pop3;imap;imap4;nntp;news;
Keywords[bg]=lightweight;fast;gui;extensible;plugin;pop;pop3;imap;imap4;nntp;news;лек;бърз;поща
Keywords[de]=schlank;schnell;gui;erweiterbar;plugin;pop;pop3;imap;imap4;nntp;news
Keywords[eo]=malpeza;rapida;grafika fasono;etendebla;kromprogramo;pop;pop3;imap;imap4;nntp;news;
Keywords[es]=ligero;rápido;gui;extensible;módulo;pop;pop3;imap;imap4;nntp;noticias;
Keywords[fi]=lightweight;fast;gui;extensible;plugin;pop;pop3;imap;imap4;nntp;news;
Keywords[lt]=paprasta;greita;grafinė sąsają;plėtiniai;pop;pop3;imap;imap4;nntp;naujienos;
Keywords[nl]=lichtgewicht;snel;gui;uitbreidbaar;plugin;pop;pop3;imap;imap4;nntp;news;
Keywords[pt_BR]=leve;rápido;gui;extensível;plugin;pop;pop3;imap;imap4;nntp;news;
Keywords[sk]=odľahčený;rýchly;gui;rozšíriteľný;zásuvný modul;pop;pop3;imap;imap4;nntp;news;
Keywords[sv]=lättviktig;snabb;gui;utökningsbar;insticksmoduler;pop;pop3;imap;imap4;nntp;news;
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail

Actions=GetMail;ComposeMail;SendFile;

[Desktop Action GetMail]
Exec=claws-mail --receive-all
Name=Get Mail

[Desktop Action ComposeMail]
Exec=claws-mail --compose
Name=Email...

[Desktop Action SendFile]
Exec=claws-mail --compose --attach %f
Name=Send file...
