[Unit]
Description=BOINC daemon
After=network.target

[Service]
Nice=10
User=boinc
PermissionsStartOnly=yes
ExecStart=/usr/bin/boinc --dir /var/lib/boinc
ExecReload=/usr/bin/boinccmd --read_cc_config
ExecStopPost=/usr/bin/rm -f /var/lib/boinc/lockfile

[Install]
WantedBy=multi-user.target
