[Unit]
Description=Starting rule-based tunnel for VMess, Shadowsocks, Trojan, Snell protocols
After=network.target

[Service]
Type=exec
Restart=on-abort
ExecStart=/usr/bin/clash-oss

[Install]
WantedBy=default.target
