[Desktop Entry]
Type=Application
Name=VacuumTube
Comment=Watch and explore videos on YouTube
Icon=vacuumtube
Exec=/usr/bin/vacuumtube
Categories=AudioVideo;
