[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SageMath
Comment=SageMath notebook
Exec=/usr/bin/sage -notebook
Icon=sage-notebook
Terminal=true
StartupNotify=false
Categories=Education;Science;Math;
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=

