[Desktop Entry]
Name=Wine Help
Comment=Windows Help Browser
Name[ar]=أداة المساعدة في واين
Comment[ar]=استعراض ملفات المساعدة بتنسيقات وندوز
Exec=wine winhlp32
Icon=winhelp
Terminal=false
Type=Application
Categories=X-Wine;
