[Desktop Entry]
Type=Application
Name=Windows Installer Package
Name[zh_CN]=Windows Installer 程序包
Exec=wine %f
MimeType=application/x-ole-storage;text/mspg-legacyinfo;
Hidden=true
