[Desktop Entry]
Name=Wine Notepad
Comment=Wine Text Editor
Name[zh_CN]=Wine 记事本
Name[zh_CN]=Wine 文本文件编辑器
Exec=notepad
Icon=notepad
Terminal=false
Type=Application
Categories=X-Wine;
