[Desktop Entry]
Name=Wine Regedit
Comment=Utility to edit Wine (Windows) registry
Name[zh_CN]=Wine 注册表编辑器
Comment[zh_CN]=Wine (Windows) 注册表编辑实用工具
Exec=regedit
Icon=regedit
Terminal=false
Type=Application
Categories=X-Wine;
