[Desktop Entry]
Name=Wine File
Comment=File manager for Wine
Name[zh_CN]=Wine 文件管理器
Comment[zh_CN]=用于 Wine 环境的文件管理器
Exec=winefile
Icon=winefile
Terminal=false
Type=Application
Categories=X-Wine;
