[Desktop Entry]
Name=Wine Boot
Comment=Simulate Wine (Windows) restart
Name[zh_CN]=引导 Wine 环境
Comment[zh_CN]=模拟 Wine (Windows) 环境重新启动
Exec=wineboot
Icon=wine
Terminal=false
Type=Application
Categories=X-Wine;
