[Desktop Entry]
Name=Wine Mine
Comment=Wine Minesweeper
Name[zh_CN]=Wine 扫雷
Comment[zh_CN]=Wine 扫雷游戏
Exec=winemine
Icon=winemine
Terminal=false
Type=Application
Categories=Game;LogicGame;
