[Desktop Entry]
Name=NetBeans
Comment=IDE for Java, HTML5, PHP, Groovy, C, and C++
StartupWMClass=NetBeans IDE
Exec=/usr/bin/netbeans
Icon=netbeans
Terminal=false
Type=Application
Categories=Development,IDE;
StartupNotify=false

