[Desktop Entry]
Encoding=UTF-8
Name=ProtonMail Import-Export app
Comment=ProtonMail Import-Export app for importing and exporting messages
Keywords=Email;E-mail;Protonmail;
Icon=proton-ie
Categories=Application;Network;Email;
Type=Application
Exec=proton-ie
