[Desktop Entry]
Encoding=UTF-8
Name=ProtonMail Bridge
Comment=ProtonMail Bridge for e-mail clients
Keywords=Email;E-mail;Protonmail;
Icon=proton-bridge
Categories=Application;Network;Email;
Type=Application
Exec=proton-bridge
