[Desktop Entry]
Encoding=UTF-8
Name=ProtonMail Bridge
Keywords=Email;E-mail;Protonmail;
Icon=proton-bridge
Categories=Application;Network;Email;
Type=Application
Exec=proton-mail
