[Unit]
After=network-online.target
Description=Jellyfin is a free software media system that puts you in control of managing and streaming your media.

[Service]
EnvironmentFile=/etc/jellyfin.env
WorkingDirectory=/var/lib/jellyfin
ExecStart=/usr/bin/jellyfin ${JELLYFIN_WEB_OPT} ${JELLYFIN_FFMPEG_OPT} ${JELLYFIN_SERVICE_OPT}
TimeoutSec=15
Restart=on-failure
User=jellyfin
Group=jellyfin

[Install]
WantedBy=multi-user.target
