[Desktop Entry]
Name=OpenTrace
Comment=GUI tool for visual route tracking
Exec=/usr/bin/opentrace %U
Icon=opentrace
Type=Application
StartupNotify=true
StartupWMClass=OpenTrace
Terminal=false
Categories=Network;
Keywords=traceroute;network;nexttrace;