[Desktop Entry]
Name=OpenTrace
Comment=Graphical tool to visualize route traces
Comment[zh_CN]=路由追踪可视化工具
Exec=/usr/bin/opentrace %U
Icon=opentrace
Type=Application
StartupNotify=true
StartupWMClass=OpenTrace
Terminal=false
Categories=Network;
Keywords=traceroute;network;nexttrace;
