[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MultiMC5
GenericName=MultiMC5
Comment=MultiMC5
Type=Application
Exec=MultiMC
Icon=multimc5
Categories=Application;Game
