[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MultiMC5
GenericName=MultiMC5
Comment=MultiMC5
Type=Application
Exec=/usr/bin/sh -c "MultiMC -d ${HOME}/.local/share/MultiMC"
Icon=multimc5
Categories=Application;Game
