[Desktop Entry]
Categories=Utility;
Comment=A full-featured download manager
Exec=motrix-next
StartupWMClass=motrix-next
Icon=motrix-next
Name=Motrix Next
Terminal=false
Type=Application
MimeType=application/x-bittorrent;application/metalink+xml;x-scheme-handler/magnet;x-scheme-handler/thunder;x-scheme-handler/motrixnext
