[Unit]
Description=A high performance web server and a reverse proxy server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/openresty.pid
ExecStartPre=/usr/lib/openresty/nginx/sbin/nginx -t -q -g 'pid /run/openresty.pid; daemon on; master_process on;'
ExecStart=/usr/lib/openresty/nginx/sbin/nginx -g 'pid /run/openresty.pid; daemon on; master_process on;'
ExecReload=/usr/lib/openresty/nginx/sbin/nginx -g 'pid /run/openresty.pid; daemon on; master_process on;' -s reload
ExecStop=/usr/lib/openresty/nginx/sbin/nginx -g 'pid /run/openresty.pid;' -s quit

[Install]
WantedBy=multi-user.target
