[Unit]
Description=NSD Control Key And Certificate Generator
After=syslog.target
Before=nsd.service
ConditionPathExists=!/etc/nsd/nsd_control.key

[Service]
Type=oneshot
Group=nsd
ExecStart=/usr/bin/nsd-control-setup -d /etc/nsd/
ExecStart=/usr/bin/restorecon /etc/nsd/*
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
