[Unit]
Description=NSD DNS Server
After=syslog.target network.target
After=nsd-keygen.service
Wants=nsd-keygen.service

[Service]
Type=simple
PIDFile=/run/nsd/nsd.pid
EnvironmentFile=-/etc/sysconfig/nsd
ExecStart=/usr/bin/nsd -d -c /etc/nsd/nsd.conf $NSD_EXTRA_OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
