[Desktop Entry]
Name=XDG User Directories
Comment=Initialize XDG specified User Directories
Exec=xdg-user-dirs-update
Terminal=false
Type=Application
Categories=
GenericName=
NoShowIn=
