[Unit]
Description=Samsung Debugging Daemon

[Service]
ExecStart=/usr/bin/sdbd
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

