[Desktop Entry]
Name=RXVT Unicode
GenericName=Terminal
Comment=RXVT terminal emulator with Unicode support
Exec=urxvt
Terminal=false
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
