[Desktop Entry]
Type=Application
Name=Microsoft Teams (Unofficial)
Name[zh_CN]=Microsoft Teams（非官方）
Name[zh_TW]=Microsoft Teams（非官方）
Comment=Unofficial Microsoft Teams client for Linux
Comment[zh_CN]=非官方 Linux 版 Microsoft Teams 客户端
Comment[zh_TW]=非官方 Linux 版 Microsoft Teams 用戶端
Exec=teams-for-linux %U
Icon=teams-for-linux
MimeType=x-scheme-handler/msteams;
Categories=Network;Chat;InstantMessaging;
Terminal=false
StartupNotify=true
