[Unit]
Description=Do quirk on the Fake MAC configuration of NetworkManager
Before=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/usr/libexec/nm-fakemac-quirk
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
