[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=regionalsettings
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=50
Icon=preferences-desktop-locale

Name=Regional Settings
Name[bs]=Regionalne postavke
Name[ca]=Arranjament regional
Name[cs]=Místní nastavení
Name[da]=Regionale indstillinger
Name[de]=Regionaleinstellungen
Name[el]=Ρυθμίσεις τοπικότητας
Name[en_GB]=Regional Settings
Name[es]=Preferencias regionales
Name[fi]=Alueasetukset
Name[gl]=Configuración rexional
Name[hu]=Területi beállítások
Name[id]=Pengaturan Regional
Name[it]=Impostazioni regionali
Name[ja]=地域の設定
Name[ko]=지역 설정
Name[lt]=Regioniniai nustatymai
Name[nb]=Regionale innstillinger
Name[nds]=Regiooninstellen
Name[nl]=Regionale instellingen
Name[pa]=ਖੇਤਰੀ ਸੈਟਿੰਗ
Name[pl]=Ustawienia regionalne
Name[pt]=Configuração Regional
Name[pt_BR]=Configurações Regionais
Name[ru]=Локализация
Name[sk]=Miestne nastavenia
Name[sl]=Območne nastavitve
Name[sr]=Регионалне поставке
Name[sr@ijekavian]=Регионалне поставке
Name[sr@ijekavianlatin]=Regionalne postavke
Name[sr@latin]=Regionalne postavke
Name[sv]=Landsinställningar
Name[tr]=Bölgesel Ayarlar
Name[uk]=Локалізація
Name[x-test]=xxRegional Settingsxx
Name[zh_CN]=区域设置 (Localization)
Name[zh_TW]=區域設定 (Localization)
