[Desktop Entry]
Name=Steam
Comment=Application for accessing service of Steam store
Exec=env LD_LIBRARY_PATH=/opt/32/lib:/usr/lib /usr/bin/steam %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;

# Use the most powerful GPU available by default (i.e. a dedicated Nvidia or AMD card instead of the integrated Intel card)
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
