[Desktop Entry]
Type=Application
Name=Vulture for Nethack
GenericName=DnD-like Game
Comment=A Fantasy GUI of Nethack-3.4.3.
Icon=vulture-nethack
TryExec=/usr/games/vulture-nethack
Exec=/usr/games/vulture-nethack
Terminal=false
Categories=Game;
