[Unit]
Description=Deluge Bittorrent Client Web Interface
After=network.target

[Service]
User=deluge
ExecStart=/usr/bin/deluge --ui web

[Install]
WantedBy=multi-user.target
