[Desktop Entry]
Name=eSearch
Exec=/usr/bin/esearch %U
Terminal=false
Type=Application
Icon=esearch
StartupWMClass=eSearch
Comment[zh_CN]=识屏 · 搜索
MimeType=image/svg+xml;image/png;image/jpeg;
Categories=Utility;Video;
