[Unit]
Description=Prometheus exporter for blackbox probes
Documentation=https://github.com/prometheus/blackbox_exporter

[Service]
Restart=on-failure
DynamicUser=yes
EnvironmentFile=/etc/default/prometheus-blackbox-exporter
ExecStart=/usr/bin/prometheus-blackbox-exporter $ARGS
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=tmpfs
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
