#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;IDE;
Comment[en_US]=Godot Engine
Comment=Godot Engine
Exec=/usr/lib/godot/godot
GenericName[en_US]=Text Editor
GenericName=Text Editor
Icon=godot
MimeType=application/x-godot-project;application/x-godot-scene;application/x-gdscript;application/x-godot-resource
Name[en_US]=Godot Engine
Name=Godot Engine
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
