[Desktop Entry]
Type=Application
Name=SPlayer
Comment=Desktop client for NetEase Cloud Music
Icon=splayer
Exec=/usr/bin/splayer
Categories=AudioVideo;Player;
