[Desktop Entry]
Name=The Honkers Railway Launcher
Name[zh_CN]=某铁启动器
Comment=The Honkers Railway launcher for Linux with automatic patching and telemetry disabling 
Comment[zh_CN]=带有自动打补丁及禁用遥测功能的某铁启动器
Exec=honkers-railway-launcher
Terminal=false
Type=Application
Icon=honkers-railway-launcher
StartupWMClass=moe.launcher.the-honkers-railway-launcher
Categories=Game
