[Desktop Entry]
Name=brave
Comment=Brave laptop and desktop browser
GenericName=brave
Exec=brave %U
Icon=brave
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
