[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Comment=Powerful Python IDE
Exec=pycharm %f
Icon=pycharm
Terminal=false
StartupNotify=true
Categories=Development;IDE;Python
