[Unit]
Description=Prometheus metrics exporter for NVIDIA GPUs
Documentation=https://github.com/neo-airouter/rvidia-exporter

[Service]
Restart=on-failure
DynamicUser=yes
EnvironmentFile=/etc/default/rvidia-exporter
ExecStart=/usr/bin/rvidia-exporter --addr "$ADDR" --port "$PORT"
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=tmpfs
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
