[Desktop Entry]
Name=PuTTY
Comment=An integrated SSH and Telnet client
Comment[zh_CN]=集成化 SSH 及 Telnet 客户端
Exec=putty
Icon=putty
Terminal=false
Type=Application
Categories=Network;RemoteAccess;SSH;Telnet;
Categories=Network;RemoteAccess;SSH;Telnet;网络;远程
StartupNotify=true
