[Unit]
Description=Xbox controller driver daemon
Documentation=man:xboxdrv(1)

[Service]
Type=forking
User=root
PIDFile=/run/xboxdrv.pid
ExecStart=/usr/bin/xboxdrv --daemon --detach --pid-file /var/run/xboxdrv.pid --dbus system -d --silent --deadzone 4000 --deadzone-trigger 10% --mimic-xpad --mimic-xpad-wireless

[Install]
WantedBy=multi-user.target

