[Unit]
Description=Mount /dev for the LATX runtime

[Mount]
What=/dev
Where=/usr/gnemul/lat-x86_64/dev
Type=none
Options=bind
LazyUnmount=true

[Install]
WantedBy=local-fs.target
