[Unit]
Description=Mount /proc for the LATX runtime

[Mount]
What=/proc
Where=/usr/gnemul/lat-x86_64/proc
Type=none
Options=bind
LazyUnmount=true

[Install]
WantedBy=local-fs.target
