[Unit]
Description=Mount /usr/share/icons for the LATX runtime

[Mount]
What=/usr/share/icons
Where=/usr/gnemul/lat-x86_64/usr/share/icons
Type=none
Options=bind,ro
LazyUnmount=true

[Install]
WantedBy=local-fs.target
