[Unit]
Description=Mount /run for the LATX runtime

[Mount]
What=/run
Where=/usr/gnemul/latx-x86_64/run
Type=none
Options=bind
LazyUnmount=true

[Install]
WantedBy=local-fs.target
