[Unit]
Description=HTTP server and IMAP/POP3 proxy server (drop-in replacement for nginx)
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/angie.pid
ExecStartPre=/usr/bin/angie -t
ExecStart=/usr/bin/angie -g 'pid /run/angie.pid; error_log stderr;'
ExecReload=/usr/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true
PrivateDevices=yes
SyslogLevel=err

[Install]
WantedBy=multi-user.target
