[Desktop Entry]
Type=Application
Name=BakaXL Bunny
Icon=BakaXL
Exec=bakaxl-bunny
Comment=Play or manage your Minecraft instances
Comment[zh_CN]=通过 BakaXL 游玩或管理您的 Minecraft 实例
Comment[zh_TW]=透過 BakaXL 遊玩或管理您的 Minecraft 遊戲實例
Comment[ja]=BakaXL で Minecraft のインスタンスをプレイまたは管理
Comment[ko]=BakaXL로 Minecraft 인스턴스를 플레이하거나 관리하세요
Categories=Game;Utility;
Terminal=false