[Desktop Entry]
Type=Application
Icon=appset
Exec=apper
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.apper

Name=Apper
Name[bg]=Apper
Name[bs]=Apper
Name[ca]=Apper
Name[ca@valencia]=Apper
Name[cs]=Apper
Name[da]=Apper
Name[de]=Apper
Name[el]=Apper
Name[es]=Apper
Name[et]=Apper
Name[fi]=Apper
Name[fr]=Apper
Name[gl]=Apper
Name[hr]=Apper
Name[hu]=Apper
Name[it]=Apper
Name[lt]=Apper
Name[mr]=एप्पर
Name[nb]=Apper
Name[nds]=Apper
Name[nl]=Apper
Name[pa]=ਅੱਪਰ
Name[pl]=Apper
Name[pt]=Apper
Name[pt_BR]=Apper
Name[ro]=Apper
Name[ru]=Apper
Name[sk]=Apper
Name[sl]=Apper
Name[sv]=Apper
Name[tr]=Apper
Name[ug]=Apper
Name[uk]=Apper
Name[wa]=Apper
Name[x-test]=xxApperxx
Name[zh_CN]=Apper 软件包管理器
Name[zh_TW]=Apper
GenericName=Software Management
GenericName[bg]=Управление на софтуер
GenericName[bs]=Upravljanje softverom
GenericName[ca]=Gestor de programari
GenericName[ca@valencia]=Gestor de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Softwareverwaltung
GenericName[el]=Διαχείριση λογισμικού
GenericName[en_GB]=Software Management
GenericName[es]=Gestión de software
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Ohjelmistonhallinta
GenericName[fr]=Gestion des logiciels
GenericName[gl]=Xestión de software
GenericName[hr]=Upravljanje softverom
GenericName[hu]=Szoftverkezelő
GenericName[it]=Gestione software
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[lt]=Programų tvarkymas
GenericName[mr]=सॉफ्टवेअर व्यवस्थापन
GenericName[nb]=Programvarebehandling
GenericName[nds]=Programmpleeg
GenericName[nl]=Softwarebeheer
GenericName[nn]=Programvarehandsaming
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pl]=Zarządzanie oprogramowaniem
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Gestiune programe
GenericName[ru]=Менеджер программ
GenericName[sk]=Správa softvéru
GenericName[sl]=Upravljanje programske opreme
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[wa]=Manaedjmint des programes
GenericName[x-test]=xxSoftware Managementxx
GenericName[zh_CN]=软件管理
GenericName[zh_TW]=軟體管理
Comment=Application to get and manage software
Comment[bg]=Инструмент за изтегляне и управление на програми
Comment[bs]=Program za dohvatanje i upravljanje softverom
Comment[ca]=Aplicació per obtenir i gestionar programari
Comment[ca@valencia]=Aplicació per obtindre i gestionar programari
Comment[cs]=Aplikace pro získání a správu softwaru
Comment[da]=Program til at hente og håndtere software
Comment[de]=Anwendung zum Beziehen und Verwalten der Software
Comment[el]=Εφαρμογή για τη λήψη και τη διαχείριση του λογισμικού
Comment[en_GB]=Application to get and manage software
Comment[es]=Aplicación para obtener y gestionar software
Comment[et]=Tarkvara hankimise ja haldamise tarkvara
Comment[fi]=Sovellus ohjelmien noutamiseen ja hallitsemiseen
Comment[fr]=Application pour obtenir et gérer des logiciels
Comment[gl]=Aplicativo para obter e xestionar software
Comment[hr]=Aplikacija za dohvaćanje i upravljanje softverom
Comment[hu]=Alkalmazás szoftverek beszerzéséhez és kezeléséhez
Comment[it]=Applicazione per scaricare e gestire il software
Comment[lt]=Programinės įrangos atsiuntimo ir tvarkymo programa
Comment[mr]=सॉफ्टवेअर व्यवस्थापन व प्रतिष्ठापन करण्याकरिता अनुप्रयोग
Comment[nb]=Apper er en app som henter og styrer programvare
Comment[nds]=Warktüüch för't Halen un Opfrischen vun Programmen
Comment[nl]=Toepassing voor het verkrijgen en beheren van software
Comment[pa]=ਸਾਫਟਵੇਅਰ ਲੈਣ ਤੇ ਉਨ੍ਹਾਂ ਦੇ ਪਰਬੰਧ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Program do pobierania i zarządzania oprogramowaniem
Comment[pt]=Uma aplicação para obter e gerir aplicações
Comment[pt_BR]=Aplicativo para obter e gerenciar software
Comment[ro]=Aplicație pentru obținerea și gestionarea programelor
Comment[ru]=Загрузка и управление программами
Comment[sk]=Aplikácia na získanie a správu softvéru
Comment[sl]=Program za pridobivanje in upravljanje programske opreme
Comment[sv]=Program för att hämta och hantera programvara
Comment[tr]=Yazılımları indirmek ve yönetmek için kullanılan bir uygulama
Comment[uk]=Програма для звантаження і керування пакунками програмного забезпечення
Comment[wa]=Programe po cweri eyet manaedjî ses programes
Comment[x-test]=xxApplication to get and manage softwarexx
Comment[zh_CN]=获取和管理软件的程序
Comment[zh_TW]=取得並管理軟體的應用程式

Terminal=false
Categories=Qt;KDE;System;PackageManager;
InitialPreference=10
