[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Gnome Wave Cleaner
Comment=Sound File Noise Reduction
Keywords=audio;sound;noise;filter;
TryExec=gnome_wave_cleaner
Exec=gnome_wave_cleaner %F
Icon=gwc.xpm
Categories=GNOME;Application;AudioVideo;
