[Unit]
After=network.target syslog.target
Description=EasyTier daemon (configuration: %i)
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/bin/easytier-core -c /etc/easytier/%i.toml
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
