[Unit]
Description=V2Ray Service for %i
After=network.target
Wants=network.target

[Service]
Type=simple
PIDFile=/run/v2ray-%i.pid
ExecStart=/usr/bin/v2ray -config /etc/v2ray/%i.json
Restart=on-failure

[Install]
WantedBy=multi-user.target

