[Unit]
Description=Dynamic display configuration for Wayland
Documentation=man:kanshi(1) man:kanshi(5)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ]'
ExecStart=/usr/bin/kanshi
ExecReload=/usr/bin/kanshictl reload
Restart=on-failure

[Install]
WantedBy=graphical-session.target
