[Desktop Entry]
Name=v2rayN
Comment=A GUI config manager for xray, mihomo, sing-box, and other cores
Exec=v2rayN
Icon=v2rayN
Terminal=false
Type=Application
Categories=Network;Application;
