[Unit]
Description=OpenSSH Daemon
Wants=sshdgenkeys.service
After=sshdgenkeys.service network.target

[Service]
Type=notify
ExecStartPre=/usr/bin/sshd -t
ExecStart=/usr/bin/sshd -D
ExecStartPre=/usr/bin/sshd -t
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=ssh.service
