[Unit]
Description=OpenSSH Daemon Server Socket
Before=sockets.target
Wants=sshdgenkeys.service

[Socket]
ListenStream=22
Accept=no

[Install]
WantedBy=sockets.target

