[Unit]
Description=OpenSSH Daemon
Wants=sshdgenkeys.service
After=sshdgenkeys.service network.target

[Service]
Type=notify-reload
ExecStartPre=/usr/bin/sshd -t
ExecStart=/usr/bin/sshd -D
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=ssh.service
