[Desktop Entry]
Name=Wine OLE View
Comment=Windows OLE View
Name[ar]=عارض العناصر
Comment[ar]=لعرض العناصر البيئية في واين
Exec=wine oleview
Icon=wine
Terminal=false
Type=Application
Categories=X-Wine;
