[Unit]
Description=Tinc VPN daemon for network %i
After=network.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/bin/tincd -n %i
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
