[Desktop Entry]
Name=An Anime Game Launcher
Name[zh_CN]=某二次元游戏启动器
Comment=Genshin Impact Launcher with telemetry disabling
Comment[zh_CN]=带有禁用遥测功能的某二次元游戏启动器
Exec=anime-game-launcher
Terminal=false
Type=Application
Icon=an-anime-game-launcher
StartupWMClass=moe.launcher.an-anime-game-launcher
Categories=Game
