[Desktop Entry]
Name=An Anime Game Launcher
Name[zh_CN]=某二次元游戏启动器
Comment=An Launcher for a specific anime game with automatic updates, Discord RPC and time tracking
Comment[zh_CN]=带有自动更新、Discord RPC 及游戏时间记录功能的某二次元游戏启动器
Exec=anime-game-launcher
Terminal=false
Type=Application
Icon=an-anime-game-launcher
StartupWMClass=moe.launcher.an-anime-game-launcher
Categories=Game
