[Unit]
Description=OpenConnect SSL VPN server
Documentation=man:ocserv(8)
After=syslog.target
After=network-online.target
After=dbus.service

[Service]
PrivateTmp=true
Type=simple
PIDFile=/var/run/ocserv.pid
ExecStartPre=/usr/sbin/ocserv-genkey
ExecStart=/usr/sbin/ocserv --pid-file /var/run/ocserv.pid --config /etc/ocserv/ocserv.conf -f
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
