[Unit]
Description=Daemon process of MariaDB (MySQL)
After=syslog.target

[Service]
User=mysql
Group=mysql
ExecStart=/usr/bin/mysqld --pid-file=/run/mysqld/mysqld.pid
ExecStartPost=/usr/bin/mysqld-post
Restart=always
PrivateTmp=false

[Install]
WantedBy=multi-user.target
