[Desktop Entry]
Name=osu!lazer
Comment=Rhythm is just a *click* away!
Exec=/usr/bin/osu-lazer %U
Icon=osu-lazer
Type=Application
StartupNotify=true
StartupWMClass=osu!
SingleMainWindow=true
Terminal=false
Categories=Game;
Keywords=osu;music;beatmap;
MimeType=application/x-osu-beatmap-archive;application/x-osu-skin-archive;application/x-osu-beatmap;application/x-osu-storyboard;application/x-osu-replay;x-scheme-handler/osu;
