[Unit]
Description=Braille Console Driver Daemon
DefaultDependencies=no
Before=sysinit.target

[Service]
ExecStart=/usr/bin/brltty --pid-file=/var/run/brltty.pid
Type=forking
PIDFile=/var/run/brltty.pid

[Install]
WantedBy=sysinit.target

