[Unit]
Description=Lighttpd Web Server
After=syslog.target network.target

[Service]
PrivateTmp=true
ExecStartPre=/usr/bin/lighttpd -tt -f /etc/lighttpd/lighttpd.conf
ExecStart=/usr/bin/lighttpd -D -f /etc/lighttpd/lighttpd.conf
ExecReload=/usr/bin/kill -USR1 $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
