[Desktop Entry]
Type=Application
Name=Feishin
Comment=A music player client for self-hosted streaming services
Comment[zh_CN]=自建音乐串流服务客户端
Comment[zh_TW]=自架音樂串流服務用戶端
Exec=/usr/bin/feishin
Icon=feishin
Terminal=false
Categories=AudioVideo;Audio;
