[Desktop Entry]
Type=Application
Version=1.0
Name=Teeworlds
Comment=A retro multiplayer shooter
Exec=teeworlds
Icon=/usr/share/teeworlds/data/mapres/bg_cloud2.png
Terminal=false
Categories=Game;RolePlaying;
