[Desktop Entry]
Name=Avidemux
Name[zh_CN]=Avidemux
Name[zh_TW]=Avidemux
GenericName=Video Editor
GenericName[zh_CN]=视频编辑器
GenericName[zh_TW]=影像編輯器
Comment=Simple video editor that features easy cutting
Comment[zh_CN]=简单的视频编辑器，尤其便于视频裁剪
Type=Application
Exec=avidemux3_qt5 %U
Icon=avidemux
Terminal=false
Categories=Qt;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;
Keywords[zh_CN]=editing;video;audio;编辑;视频;音频;
Keywords[zh_TW]=editing;video;audio;
