[Desktop Entry]
Type=Application
Icon=QtScrcpy
Name=QtScrcpy
Name[zh_CN]=QtScrcpy
Exec=QtScrcpy
Terminal=false
Hidden=false
Categories=Development; Utility
Comment=Android real-time screencast control tool
Comment[zh_CN]=安卓实时屏幕录制控制工具
