[Desktop Entry]
Type=Application
Name=QMPDClient
GenericName=Qt4 based MPD client
Comment=A nicer MPD client
Exec=qmpdclient
Categories=Qt;AudioVideo;Audio;
Icon=qmpdclient
Terminal=false
