# It's not recommended to modify this file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the
# best way is to create a file "/etc/systemd/system/pgadmin4.service",
# containing
#	.include /lib/systemd/system/pgadmin4.service
#	...make your changes here...
# For more info about custom unit files, see
# http://fedoraproject.org/wiki/Systemd#How_do_I_customize_a_unit_file.2F_add_a_custom_unit_file.3F


[Unit]
Description=pgAdmin4
After=syslog.target
After=network.target

[Service]
Type=simple

User=root
Group=root
ExecStart=/usr/bin/python2 /usr/lib/pgadmin4/pgAdmin4.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target

