[Desktop Entry]
Type=Application
Name=SQLiteStudio
Comment=Database manager for SQLite
Exec=sqlitestudio
Icon=sqlitestudio
Terminal=false
StartupNotify=false
Categories=Development;Database;
