[Desktop Entry]
Name=Sleepy Launcher
Name[zh_CN]=ZZZ 启动器
Comment=Sleepy game launcher with telemetry disabling
Comment[zh_CN]=带有禁用遥测功能的 ZZZ 启动器
Exec=sleepy-launcher
Terminal=false
Type=Application
Icon=sleepy-launcher
StartupWMClass=moe.launcher.sleepy-launcher
Categories=Game
