spawn-sh-at-startup "regreet; niri msg action quit --skip-confirmation"
hotkey-overlay {
    skip-at-startup
}
cursor {
    // Change the theme and size of the cursor as well as set the
    // `XCURSOR_THEME` and `XCURSOR_SIZE` env variables.
    xcursor-theme "catppuccin-mocha-red-cursors"
}

// Add the following code to /etc/greetd/config.toml
// [default_session]
// command = "niri --config /etc/greetd/regreet-niri.kdl"
// user = "greeter"
