[Desktop Entry]
Name=Honkers Launcher
Name[zh_CN]=崩崩崩启动器
Comment=Honkers 3 launcher for Linux with automatic patching and telemetry disabling
Comment[zh_CN]=带有自动打补丁及禁用遥测功能的崩崩崩启动器
Exec=honkers-launcher
Terminal=false
Type=Application
Icon=honkers-launcher
StartupWMClass=moe.launcher.honkers-launcher
Categories=Game
