[Desktop Entry]
Name=WineMine
Comment=Wine Minesweeper
Name[ar]=كانسة ألغام واين
Comment[ar]=لعبة كانسة ألغام واين
Exec=winemine
Icon=winemine
Terminal=false
Type=Application
Categories=Game;LogicGame;
