[Desktop Entry]
Name=Wine Wordpad
Comment=Text Editor
Name[ar]=دفتر واين
Comment[ar]=محرر النّصوص دفتر واين
Exec=wine wordpad
Icon=wordpad
Terminal=false
Type=Application
Categories=X-Wine;
