#badge {
    inline-size: 80px;
    block-size: 80px;
    background-image: url("apple-touch-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand:before {
    content: "${PRETTY_NAME}";
}
