[Unit]
Description=Internet domain name server
Wants=nss-lookup.target
Wants=bind-generate-rndc-key.service
Wants=bind-update-root-hints.service
Wants=bind-update-root-hints.timer
Before=nss-lookup.target
After=bind-generate-rndc-key.service
After=bind-update-root-hints.service
After=bind-update-root-hints.timer
After=network.target

[Service]
Type=forking

RuntimeDirectory=named
StateDirectory=named named/dynamic
CacheDirectory=named
ConfigurationDirectory=named

User=named
Group=named
# Allow binding to privileged ports
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

EnvironmentFile=-/etc/default/bind
PIDFile=/run/named/named.pid

ExecStartPre=/bin/bash -c 'if [ ! "$DISABLE_ZONE_CHECKING" == "yes" ]; then /usr/bin/named-checkconf -z "$NAMEDCONF"; else echo "Checking of zone files is disabled"; fi'
ExecStart=/usr/sbin/named -u named "$OPTIONS"
ExecReload=/bin/sh -c 'if /usr/bin/rndc null > /dev/null 2>&1; then /usr/bin/rndc reload; else /bin/kill -HUP $MAINPID; fi'
ExecStop=/bin/sh -c '/usr/bin/rndc stop > /dev/null 2>&1 || /bin/kill -TERM $MAINPID'

PrivateTmp=true
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
