[Unit]
Description=Update DNS root hints for BIND (named)

[Service]
Type=oneshot
CacheDirectory=named
EnvironmentFile=-/etc/default/bind
ExecStart=/bin/bash -c 'if [ ! "$DISABLE_UPDATING_ROOT_HINTS" == "yes" ]; then /usr/bin/bind-update-root-hints; fi'
