[Unit]
Description=v2rayA Lite Service
Documentation=https://github.com/v2rayA/v2rayA/wiki
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/v2raya --lite --log-disable-timestamp
Environment=V2RAYA_CONFIG="%E/v2raya"
Environment=V2RAYA_LOG_FILE="%L/v2raya/v2raya.log"
LogsDirectory=v2raya
ConfigurationDirectory=v2raya
Restart=on-failure

[Install]
WantedBy=default.target
