[Unit]
Description=aMule Webserver
Requires=amuled.service

[Service]
User=amule
ExecStart=/usr/bin/amuleweb
Restart=on-success
RestartSec=5s

[Install]
WantedBy=multi-user.target

