[Unit]
Description=Prometheus exporter for blackbox service metrics
Requires=network-online.target
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
# Use dynamic user instead of static blackbox_exporter
DynamicUser=yes
Restart=on-failure
# Arguments are defined in /etc/conf.d/blackbox_exporter
EnvironmentFile=-/etc/conf.d/blackbox_exporter
ExecStart=/usr/bin/blackbox_exporter $BLACKBOX_EXPORTER_ARGS

# Hardening configurations 
# Adopted from Archlinux: https://gitlab.archlinux.org/archlinux/packaging/packages/prometheus-blackbox-exporter/-/blob/0.27.0-1/prometheus-blackbox-exporter.service?ref_type=tags#L11-L26
NoNewPrivileges=true
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateTmp=true
LockPersonality=true
# ProtectHostname=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelLogs=true
PrivateDevices=true
RestrictRealtime=true
CapabilityBoundingSet=
MemoryDenyWriteExecute=true
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
