[Desktop Entry]
Type=Application
Name=LocalSend
Comment=Utility to share files with nearby devices
Comment[zh_CN]=本地文件共享工具
Icon=localsend
Exec=localsend
