#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qt5 Assistant
GenericName=Documentation viewer
GenericName[ja]=ドキュメンテーションビューア
GenericName[ko]=문서 뷰어
GenericName[zh_CN]=文档查看器
GenericName[zh_TW]=文件查看器
Comment=Shows Qt5 documentation and examples
Comment[ja]=Qt5 のドキュメントとサンプルを表示します
Comment[ko]=Qt5 문서 및 예제 표시
Comment[zh_CN]=显示 Qt5 的文档和示例
Comment[zh_TW]=顯示 Qt5 的文件和示例
Exec=assistant-qt5
Icon=assistant-qt5
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
