[Desktop Entry]
Name=Qt5 Linguist
GenericName=Translation tool
GenericName[ja]=翻訳ツール
GenericName[ko]=번역 도구
GenericName[zh_CN]=翻译工具
GenericName[zh_TW]=翻譯工具
Comment=Add translations to Qt5 applications
Comment[ja]=Qt5 アプリケーションに翻訳を追加する
Comment[ko]=Qt5 애플리케이션에 번역 추가
Comment[zh_CN]=添加翻译到 Qt5 应用程序
Comment[zh_TW]=添加翻譯到 Qt5 應用程式
Exec=linguist-qt5
Icon=linguist-qt5
MimeType=text/vnd.trolltech.linguist;application/x-linguist;
Terminal=false
Type=Application
Categories=Qt;Development;
