[Desktop Entry]
Name=Qt5 QDbusViewer
GenericName=D-Bus Debugger
GenericName[ja]=D-Bus デバッガ
GenericName[ko]=D-Bus 디버거
GenericName[zh_CN]=D-Bus 调试器
GenericName[zh_TW]=D-Bus 除錯器
Comment=Debug D-Bus applications
Comment[ja]=D-Bus アプリケーションのデバッグ
Comment[ko]=D-Bus 애플리케이션 디버그
Comment[zh_CN]=调试 D-bus 应用程序
Comment[zh_TW]=除錯 D-bus 應用程式
Exec=qdbusviewer-qt5
Icon=qdbusviewer-qt5
Terminal=false
Type=Application
Categories=Qt;Development;Debugger;

