[Desktop Entry]
Type=Application
Name=Scan Tailor
Comment=Interactive post-processing tool for scanned pages
Icon=scantailor
TryExec=scantailor
Exec=scantailor %f
Terminal=false
MimeType=application/x-scantailor;
Categories=Graphics;2DGraphics;RasterGraphics;Scanning;Qt;
Keywords=scanning;postprocessing;
StartupNotify=true
