[Desktop Entry]
Type=Application
Name=Electron
Comment=Build cross platform desktop apps with JavaScript, HTML, and CSS
Icon=electron
Exec=electron %u
Categories=Development;GTK;
StartupNotify=true

