[Desktop Entry]
Name=CorsixTH
Comment=A re-implementation of Theme Hospital(R) from Bullfrog
Exec=corsix-th
Terminal=false
Type=Application
Encoding=UTF-8
Icon=corsixth
Categories=Game;StrategyGame;
Keywords=games;
