[Desktop Entry]
Version=1.0
Type=Application
Name=Migrant Demo
# To clear up confusion, the name is taken from official name on Steam.
Name[zh_CN]=候鸟 Demo
Comment=A story dedicated to the eighteens, beneath the sky of dreams.
Comment[zh_CN]=在梦想的天空下，献给十八岁的故事。
Icon=migrant-demo
Exec=/usr/bin/python3 /usr/share/migrant-demo/MigrantDemo.py
Categories=Game;
Keywords=Migrant;
Keywords[zh_CN]=Migrant;候鸟;

