[Unit]
Description=Ping Tunnel
After=syslog.target

[Service]
Type=forking
PIDFile=/run/ptunnel.pid
ExecStart=/usr/bin/ptunnel \
 -setuid nobody -setgid nobody -setcon \
 -syslog \
 -daemon /run/ptunnel.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
