[Unit]
Description=tftpd-hpa TFTP Server
Documentation=man:in.tftpd
Conflicts=tftpd.service

[Socket]
ListenDatagram=69

[Install]
WantedBy=sockets.target
