[Unit]
Description=tftpd-hpa TFTP Server
Documentation=man:in.tftpd
After=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/tftpd
ExecStart=/usr/bin/in.tftpd --listen $TFTPD_ARGS

[Install]
WantedBy=multi-user.target
