[Desktop Entry]
Name=SeaMonkey Mail
GenericName=Mail Client
Comment=Read Mail with SeaMonkey
Exec=seamonkey -mail %u
Icon=seamonkey
Terminal=false
Type=Application
MimeType=x-scheme-handler/mailto;
Categories=Network;Email;
