[Desktop Entry]
Name=SeaMonkey
GenericName=Web Browser
Comment=SeaMonkey browser
TryExec=seamonkey
Exec=seamonkey %u
Icon=seamonkey
Terminal=false
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Type=Application
Categories=Network;WebBrowser;
