[Desktop Entry]
Name=SeaMonkey Composer
GenericName=Web Page Creation
Comment=Create web pages with SeaMonkey
Exec=seamonkey -edit %u
Icon=seamonkey
Terminal=false
Type=Application
Categories=Development;WebDevelopment;

