[Desktop Entry]
Version=1.0
Type=Application
Name=PPSSPP
GenericName=PSP Emulator
GenericName[zh_CN]=PSP 模拟器
Comment=Fast and portable PSP emulator
Comment[zh_CN]=高性能、跨平台的 PSP 模拟器

Exec=PPSSPPSDL %f
Icon=ppsspp
Categories=Game

