[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=JPEXS Free Flash Decompiler
Comment=Decompiler and editor of Flash SWF files
Exec=/usr/bin/ffdec
Icon=/usr/share/java/ffdec/icon.png
Categories=Development;Network;Utility;WebDevelopment;Java;
