[Desktop Entry]
Version=1.0
Type=Application
Name=Ren'Py
Comment=A programming language and runtime, intended to ease the creation of visual-novel type games.
Comment[zh_CN]=意在辅助视觉小说类游戏创作的编程语言及运行时
Icon=renpy.png
Exec=renpy
Categories=Game;AdventureGame;
