[Desktop Entry]
Name=Ghost Desktop
Comment=Desktop Client for Ghost Blogging Software
GenericName=Blogging Software
Exec=ghost-desktop %U
Icon=ghost-desktop
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Network;

