[Desktop Entry]
Type=Application
Exec=veracrypt
Icon=veracrypt.xpm
Comment=Open source disk encryption with strong security
Terminal=false
Name=VeraCrypt
StartupNotify=true
Categories=System;Administration;
