[Desktop Entry]
Name=YesPlayMusic
Exec=/usr/bin/yesplaymusic %U
Terminal=false
Type=Application
Icon=/usr/share/yesplaymusic/favicon.ico
StartupWMClass=YesPlayMusic
Comment=A third party music player for Netease Music
Categories=Audio;AudioVideo;
