[Desktop Entry]
Name=YesPlayMusic
Exec=/usr/bin/yesplaymusic %U
Terminal=false
Type=Application
Icon=/usr/share/yesplaymusic/favicon.ico
StartupWMClass=YesPlayMusic
Comment=A third party music player for Netease Cloud Music
Comment[zh-CN]=第三方网易云客户端
Comment[zh_TW]=第三方網易雲客戶端
Categories=Audio;AudioVideo;
