[Desktop Entry]
Version=1.0
Name=Chemtool
GenericName=Chemistry Structure Editor
Comment=Draw and make calculations on chemical structures
Type=Application
Exec=chemtool
Icon=chemtool
Terminal= false
MimeType=application/x-chemtool;
Categories=Science;Chemistry;Education;
