[Desktop Entry]
Name=Pingus
GenericName=Free Lemmings(TM) clone
GenericName[zh_CN]=免费的Lemmings复刻
GenericName[de]=Freier Lemmings(TM)-Klon
Comment=Guide a horde of penguins through various obstacles
Comment[zh_CN]=带领企鹅们逃离险境
Exec=pingus
Icon=pingus-icon
Terminal=false
Type=Application
Categories=Game;StrategyGame;
