[Unit]
Description="Conditionally Activate LoongGPU EGL Implementation"
Before=getty-pre.target display-manager.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/loonggl-hack

[Install]
WantedBy=multi-user.target
