[Unit]
Description=NoDM display manager
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service multi-user.target

[Service]
EnvironmentFile=/etc/nodm.conf
ExecStart=/usr/bin/nodm

[Install]
WantedBy=multi-user.target
Alias=display-manager.service
