[Unit]
Description=NoDM display manager

[Service]
EnvironmentFile=/etc/nodm.conf
ExecStart=/usr/bin/nodm

[Install]
WantedBy=multi-user.target
Alias=display-manager.service
