[Unit]
Description=Starting Mihomo (Clash Meta)
After=network.target

[Service]
Type=exec
Restart=on-abort
ExecStart=/usr/bin/mihomo

[Install]
WantedBy=default.target
