[Desktop Entry]
Name=LX Music
Name[zh_CN]=洛雪音乐助手
Name[zh_TW]=洛雪音樂助手
Exec=/usr/bin/lx-music-desktop %U
Terminal=false
Type=Application
Icon=/usr/share/lx-music-desktop/favicon.ico
StartupWMClass=lx-music-desktop
Comment=A music searching assistant and player based on Electon
Comment[zh_CN]=互联网音乐流媒体客户端和收藏管理器
Comment[zh_TW]=互聯網音樂流媒體用戶端和收藏管理器
Categories=Audio;AudioVideo;
