[Desktop Entry]
Type=Application
Name=GLHack
GenericName=DnD-like Game
Comment=The GL-based GUI of Nethack-3.4.3.
Icon=glhack
TryExec=glhack
Exec=glhack
Terminal=false
Categories=Game;
