[Desktop Entry]
Name=MusicFree
Comment=A plug-in music player
Comment[zh_CN]=插件化的音乐播放器
Comment[zh_TW]=挿件化的音樂播放器
Exec=/usr/bin/musicfree %U
Icon=/usr/lib/musicfree/resources/res/logo.ico
Type=Application
StartupNotify=true
Categories=Audio;AudioVideo;
