[Desktop Entry]
Name=Zulip
Exec=zulip %U
Terminal=false
Type=Application
Icon=zulip
Comment=Zulip Desktop Client for Linux
StartupWMClass=Zulip
Categories=Network;InstantMessaging;Chat
