[Desktop Entry]
Type=Application
Icon=phone
Name=scrcpy
Exec=scrcpy -K -M -S
Terminal=false
Hidden=false
Categories=Development;Utility;
Comment=Display and control your Android device
