[Unit]
Description=Linux Mint Display Manager
Documentation=man:mdm(1)
After=systemd-user-sessions.service getty@tty1.service multi-user.target

[Service]
ExecStart=/usr/bin/mdm --nodaemon
ExecReload=/usr/bin/mdm-safe-restart
ExecStop=/usr/bin/mdm-stop
Restart=always
RestartSec=1s
TimeoutStopSec=5s
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
