[Unit]
Description=QEMU Guest Agent on Virtio Serial Port %I
BindTo=dev-virtio\x2dports-%i.device
After=dev-virtio\x2dports-%i.device

[Service]
Type=simple
ExecStart=-/usr/bin/qemu-ga --method virtio-serial --path /dev/virtio-ports/%I
StandardError=journal
Restart=always
RestartSec=0
