[Unit]
Description=Memcached Daemon
After=network.target

[Service]
User=memcached
ExecStart=/usr/bin/memcached
Restart=always

[Install]
WantedBy=multi-user.target

