[Unit]
Description=vsftpd FTP daemon (legacy implicit SSL)

[Service]
ExecStart=/usr/bin/vsftpd -oimplicit_ssl=yes
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
