[Unit]
Description=vsftpd per-connection FTP server

[Service]
ExecStart=-/usr/bin/vsftpd
ExecReload=/usr/bin/kill -HUP $MAINPID
StandardInput=socket
StandardError=syslog
