[Desktop Entry]
Encoding=UTF-8
Name=ARAnyM MMU (LiLO)
Comment=Virtual Machine with MMU for FreeMiNT and Linux-m68k (Linux LOader)
Exec=aranym-mmu --lilo
Icon=aranym-mmu
Terminal=false
Type=Application
Categories=System;Emulator;
