[Unit]
Description=Deluge Bittorrent Client Daemon 
After=network.target

[Service]
User=deluge
ExecStart=/usr/bin/deluged -d

[Install]
WantedBy=multi-user.target
