[Desktop Entry]
Type=Application
Name=Bitwarden
Comment=A music player client for self-hosted streaming services
Comment[zh_CN]=Bitwarden 密码管理器客户端
Comment[zh_TW]=Bitwarden 密碼管理器用户端
Exec=/usr/bin/bitwarden %U
Icon=bitwarden
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/bitwarden
StartupWMClass=Bitwarden
