[Desktop Entry]
Name=Eclipse
Comment=A highly extensible IDE for multiple programming languages
Comment[zh_CN]=高度可定制的多语言 IDE
Icon=eclipse
Exec=eclipse
Terminal=false
Type=Application
Categories=Development;IDE;Java;
StartupNotify=true

