[Unit]
Description=Icecc daemon (netname %I)
After=network.target

[Service]
ExecStart=/usr/bin/iceccd -u nobody -n %i

[Install]
WantedBy=multi-user.target
