[Unit]
Description=Icecc scheduler daemon (netname %I)
After=network.target

[Service]
ExecStart=/usr/bin/icecc-scheduler -u nobody -n %i

[Install]
WantedBy=multi-user.target
