[Unit]
Description=TiMidity++ Daemon
Documentation=man:timidity(1)
After=sound.target
After=pipewire-pulse.service
After=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/timidity -iA

[Install]
WantedBy=default.target
