[Unit]
Description=AppArmor Security Daemon
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/apparmor_load
ExecStop=/usr/bin/apparmor_unload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
