[Unit]
Description=Realtek 8723bs bluetooth

[Service]
ExecStart=/usr/lib/rtl8723bs_bt/rtk_hciattach -n -s 115200 /dev/%I rtk_h5
KillMode=process

[Install]
WantedBy=multi-user.target

