[Unit]
Description=NetBird mesh network client
After=network.target syslog.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
EnvironmentFile=-/etc/sysconfig/netbird
ExecStart=/usr/bin/netbird "service" "run" "--config" "/etc/netbird/config.json" "--log-level" "info" "--log-file" "/var/log/netbird/client.log"
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
