[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Telegram
Comment=A messaging application with a focus on speed and security
Comment[zh_CN]=注重于速度和安全性的即时通信应用程序
Comment[zh_TW]=注重於速度與安全性的即時通訊應用程式
Exec=/usr/bin/telegram-desktop -- %u
Icon=telegram-desktop
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/tg;
X-Desktop-File-Install-Version=0.22
