[Unit]
Description=FreeRADIUS high performance RADIUS server.
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/radiusd/radiusd.pid
ExecStartPre=-/usr/bin/chown -R radiusd.radiusd /run/radiusd
ExecStartPre=/usr/bin/radiusd -C
ExecStart=/usr/bin/radiusd -d /etc/raddb
ExecReload=/usr/bin/radiusd -C
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

