[Unit]
Description=Unbound DNS Resolver
After=network.target
After=unbound-keygen.service
Wants=unbound-keygen.service
After=unbound-anchor.service
Wants=unbound-anchor.service

[Service]
Type=simple
Group=unbound
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/default/unbound
ExecStartPre=/usr/bin/unbound-checkconf
ExecStart=/usr/bin/unbound -d $UNBOUND_OPTIONS
ExecReload=/usr/bin/unbound-control reload

[Install]
WantedBy=multi-user.target
