[Unit]
Description=Unbound Control Key and Certificate Generation
After=syslog.target
Before=unbound.service
ConditionPathExists=|!/etc/unbound/unbound_control.pem
ConditionPathExists=|!/etc/unbound/unbound_control.key
ConditionPathExists=|!/etc/unbound/unbound_server.pem
ConditionPathExists=|!/etc/unbound/unbound_server.key
PartOf=unbound.service

[Service]
Type=oneshot
User=unbound
Group=unbound
ExecStart=/usr/bin/unbound-control-setup -d /etc/unbound

[Install]
WantedBy=multi-user.target
