[Unit]
Description=Refreshing font cache
Before=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/fc-cache -v
TimeoutSec=0

[Install]
RequiredBy=graphical.target
