[Unit]
Description=Refreshing font cache
Before=display-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/fc-cache -v
TimeoutSec=0

[Install]
RequiredBy=graphical.target display-manager.service
