[Desktop Entry]
Name=Volume Icon
GenericName=Volume Control
GenericName[af]=Volumebeheer
GenericName[ar]=التحكم في شدة الصوت
GenericName[bg]=Сила на звука
GenericName[bn]=ভলিউম কন্ট্রোল
GenericName[ca]=Control de volum
GenericName[cs]=Ovládání hlasitosti
GenericName[da]=Lydstyrkekontrol
GenericName[de]=Lautstärkeregelung
GenericName[el]=Έλεγχος έντασης ήχου
GenericName[en_GB]=Volume Control
GenericName[eo]=Laŭtecregilo
GenericName[es]=Control de volumen
GenericName[et]=Helivaljuse juhtimine
GenericName[eu]=Bolumen-kontrola
GenericName[fa]=تنظیم بلندی صدا
GenericName[fr]=Contrôle de volume
GenericName[gl]=Control de volume
GenericName[gu]=વોલ્યુમ નિયંત્રણ
GenericName[he]=בקרת עצמה
GenericName[hi]=आवाज निर्धारक
GenericName[hu]=Hangerőszabályzó
GenericName[it]=Regolazione volume
GenericName[ja]=音量 コントロール
GenericName[kn]=ಧ್ವನಿ ನಿಯಂತ್ರಣ
GenericName[ko]=볼륨 조정
GenericName[lt]=Garsumo valdymas
GenericName[lv]=Skaļuma kontrole
GenericName[nb]=Volumkontroll
GenericName[nl]=Volumeregeling
GenericName[nn]=Volumkontroll
GenericName[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
GenericName[pl]=Kontrola dźwięku
GenericName[pt]=Controlo de Volume
GenericName[pt_BR]=Controle de volume
GenericName[ro]=Control volum
GenericName[ru]=Управление громкостью
GenericName[sk]=Ovládanie hlasitosti
GenericName[sl]=Nadzor glasnosti
GenericName[sr]=Контрола јачине звука
GenericName[sr@latin]=Kontrola jačine zvuka
GenericName[sv]=Volymkontroll
GenericName[ta]=ஒலிவளவு கட்டுப்பாடு
GenericName[th]=ปรับความดังเสียง
GenericName[tr]=Ses Denetimi
GenericName[ug]=ئاۋاز تىزگىنى
GenericName[uk]=Керування гучністю
GenericName[vi]=Điều khiển âm lượng
GenericName[zh_CN]=音量控制
GenericName[zh_HK]=音量控制
GenericName[zh_TW]=音量控制
Comment=Show desktop volume control
Comment[af]=Wys volumebeheer vir die werkskerm
Comment[ar]=اعرض التحكم في شدة الصوت
Comment[bg]=Показване на управлението на звука
Comment[bn]=ডেস্কটপ ভলিউম কন্ট্রোল প্রদর্শন
Comment[ca]=Mostra el control de volum de l'escriptori
Comment[cs]=Zobrazit ovládání hlasitosti pro pracovní prostředí
Comment[da]=Vis lydstyrkekontrol på skrivebordet
Comment[de]=Lautstärkeregler anzeigen
Comment[el]=Εμφάνιση ελέγχου ήχου επιφάνειας εργασίας
Comment[en_GB]=Show desktop volume control
Comment[es]=Mostrar el control de volumen del escritorio
Comment[et]=Töölaua helipuldi näitamine
Comment[eu]=Erakutsi mahaigaineko bolumen-kontrola
Comment[fa]=نمایش تنظیمات بلندی صدای رومیزی
Comment[fr]=Afficher le contrôle de volume sur le bureau
Comment[gl]=Mostrar o control de volume do escritorio
Comment[gu]=ડેસ્કટોપ વોલ્યુમ નિયંત્રણને બતાવો
Comment[he]=הצגת בקרת עצמה בשולחן העבודה
Comment[hi]=डेस्कटॉप आवाज नियंत्रण दिखाएँ
Comment[hu]=Hangerőszabályzó megjelenítése
Comment[it]=Mostra la regolazione del volume
Comment[ja]=デスクトップの音量を調節するアプレットです
Comment[kn]=ಗಣಕತೆರೆ ಧ್ವನಿ ನಿಯಂತ್ರಣವನ್ನು ತೋರಿಸಿ
Comment[ko]=데스크톱 볼륨 조정 표시
Comment[lt]=Rodyti darbastalio garsumo valdiklį
Comment[lv]=Rādīt darbvirsmas skaņas kontroli
Comment[nb]=Vis volumkontroll for skrivebordet
Comment[nl]=Volumeregeling voor werkomgeving tonen
Comment[nn]=Vis volumkontroll for skrivebord
Comment[pa]=ਡੈਸਕਟਾਪ ਵਾਲੀਅਮ ਕੰਟਰੋਲ ਵੇਖੋ
Comment[pl]=Wyświetlanie kontroli dźwięku na pulpicie
Comment[pt]=Apresentar o controlo de volume na área de trabalho
Comment[pt_BR]=Mostrar controle de volume na área de trabalho
Comment[ro]=Arată controlul volumului pe desktop
Comment[ru]=Открыть управление громкостью звука
Comment[sk]=Zobraziť ovládanie hlasitosti pracovnej plochy
Comment[sl]=Pokaži namizni nadzornik zvoka
Comment[sr]=Прикажи контролу јачине звука радне површи
Comment[sr@latin]=Prikaži kontrolu jačine zvuka radne površi
Comment[sv]=Visa skrivbordets volymkontroll
Comment[ta]=பணிமேடை ஒலிவளவு கட்டுப்பாட்டை காட்டு
Comment[te]=రంగస్థల వాల్యూమ్ నియంత్రికను చూపు
Comment[th]=แสดงเครื่องมือปรับความดังเสียงของเดสก์ท็อป
Comment[tr]=Masaüstü ses denetimini göster
Comment[ug]=ئۈستەلئۈستى ئاۋاز تىزگىننى كۆرسەت
Comment[uk]=Показати керування гучністю
Comment[vi]=Hiện điều khiển âm lượng
Comment[zh_CN]=显示桌面音量控制
Comment[zh_HK]=顯示桌面音量控制
Comment[zh_TW]=顯示桌面音量控制
Exec=volumeicon
TryExec=volumeicon
Icon=multimedia-volume-control
Type=Application
Terminal=false
StartupNotify=false
Categories=GTK;AudioVideo;Audio;Mixer

