[Desktop Entry]
Encoding=UTF-8
Categories=Development;Science;Database;Java;
Name=IGV
Version=1.0
Comment=A high-performance visualization tool for interactive exploration of large, integrated genomic datasets
Comment[en]=A high-performance visualization tool for interactive exploration of large, integrated genomic datasets
Icon=igv
Exec=/usr/bin/igv
URL=https://software.broadinstitute.org/software/igv/home
Terminal=false
Type=Application
