[Desktop Entry]
Type=Application
Name=Cherry Studio
Comment=Desktop client that supports multiple LLM providers
Comment[zh_CN]=一款支持多个大语言模型（LLM）服务商的桌面客户端
Comment[zh_TW]=一款支援多個大語言模型（LLM）服務商的桌面用戶端
Exec=cherrystudio
Icon=cherry-studio
Categories=Utilities;
Terminal=false
