[Desktop Entry]
Type=Application
Name=FlClash
GenericName=FlClash
Icon=FlClash
Exec=FlClash %U
Categories=Network;
Keywords=FlClash;Clash;ClashMeta;Proxy;
StartupNotify=true
StartupWMClass=com.follow.clash
