[Desktop Entry]
Name=Qt5 Designer
GenericName=Interface Designer
GenericName[ja]=インターフェイスデザイナー
GenericName[ko]=인터페이스 디자이너
GenericName[zh_CN]=界面设计器
GenericName[zh_TW]=介面設計師
Comment=Design GUIs for Qt5 applications
Comment[ja]=Qt5 アプリケーションの GUI をデザインする
Comment[ko]=Qt5 애플리케이션용 GUI 설계
Comment[zh_CN]=为 Qt5 应用程序设计图形用户界面
Comment[zh_TW]=為 Qt5 應用程式設計圖形使用者介面
Exec=designer-qt5
Icon=QtProject-designer
MimeType=application/x-designer;
Terminal=false
Type=Application
Categories=Qt;Development;
