
[Desktop Entry]
Name=ECL
GenericName=Common Lisp
Comment=Embeddable Common Lisp
Exec=ecl
Icon=ecl
Terminal=true
Type=Application
Categories=Development;Building;
