[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Zotero
GenericName=A free, easy-to-use tool to help you collect, organize, cite, and share your research sources.
Icon=zotero
Exec=/usr/bin/zotero %f
Categories=Office
Terminal=false
