[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Zotero
Comment=Your personal research assistant
Comment[zh_CN]=您的个人研究助手
Comment[zh_HK]=您的個人研究助手
Comment[zh_TW]=您的個人研究助手
Comment[ja]=あなたの個人的な研究助手
Comment[ko]=귀하의 개인 연구 조교
Icon=zotero
Exec=/usr/bin/zotero %f
Categories=Office
Terminal=false
