[Unit]
Description=Iodine Server
After=local-fs.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/iodine-server
ExecStart=/usr/sbin/iodined $OPTIONS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
