[Desktop Entry]
Name=Cinny
Comment=A Matrix client for desktop
Comment[zh_CN]=桌面 Matrix 客户端
Comment[zh_TW]=桌面 Matrix 用户端
Exec=/usr/bin/cinny %u
Terminal=false
Type=Application
Icon=cinny
StartupWMClass=cinny
Categories=Network;InstantMessaging;Chat
