[Unit]
Description=Update Man-DB cache
RequiresMountsFor=/var/cache/man

[Service]
Type=oneshot
ExecStart=systemd-tmpfiles --create man-db.conf
ExecStart=/usr/bin/mandb
CPUSchedulingPolicy=batch
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
