[Unit]
Description=Telephony service
After=syslog.target

[Service]
Type=dbus
BusName=org.ofono
ExecStart=/usr/bin/ofonod -nd
StandardError=null
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
