[Unit]
Description=Automatically enable oFono modems
After=ofono.service

[Service]
Type=simple
ExecStart=/usr/lib/ofono/bin/auto-enable

[Install]
WantedBy=multi-user.target
