[Unit]
Description=IPv6 Packet Filtering Framework
DefaultDependencies=no
Wants=network-pre.target systemd-modules-load.service local-fs.target
Before=network-pre.target shutdown.target
After=systemd-modules-load.service local-fs.target
Conflicts=shutdown.target
ConditionPathExists=/etc/iptables/ip6tables.rules

[Service]
Type=oneshot
ExecStart=/usr/bin/ip6tables-restore /etc/iptables/ip6tables.rules
ExecReload=/usr/bin/ip6tables-restore /etc/iptables/ip6tables.rules
ExecStop=/usr/lib/systemd/scripts/iptables-flush 6
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
