[Unit]
Description=MariaDB (MySQL) Server Daemon
After=syslog.target

[Service]
User=mysql
Group=mysql
ExecStartPre=/usr/bin/mysqld-pre
ExecStart=/usr/bin/mysqld --pid-file=/run/mysqld/mysqld.pid
ExecStartPost=/usr/bin/mysqld-post
Restart=always
PrivateTmp=false

[Install]
WantedBy=multi-user.target
