[Desktop Entry]
Name=osu!
Comment=Rhythm is just a *click* away!
Exec=/usr/bin/osu %U
Icon=osu
Type=Application
StartupNotify=true
StartupWMClass=Code
Categories=Game;
Keywords=osu;music;beatmap;
