[Unit]
Description=Transparent redirector of any TCP connection to proxy using your firewall

[Service]
Type=forking
PIDFile=/run/redsocks2/redsocks2.pid
User=redsocks
ExecStartPre=/usr/bin/redsocks2 -t -c /etc/redsocks2.conf
ExecStart=/usr/bin/redsocks2 -c /etc/redsocks2.conf \
  -p /run/redsocks2/redsocks2.pid
ExecStopPost=/bin/rm /run/redsocks2/redsocks2.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
